<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
      following <%= @user.following.count %>
  </a>
  <a href="<%= followers_user_path(@user) %>">
      <%= pluralize(@user.followers.count, "follower") %>
  </a>
</div>
