<%= link_to gravatar_for(current_user, size:100), current_user %>
<h1><%= link_to current_user.username, current_user, :title => "view your profile" %></h1>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
