<footer class="footer">
  <small>
    <%= link_to base_title, root_path %> by <a href="http://www.jaredharbison.com" target="_blank">Jared Harbison</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ABOUT  ",   static_pages_about_url %></li>
    </ul>
  </nav>
</footer>
